/* Header */
.header {
  padding-block: 2.4rem;

  .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  .header__logo {
    width: 10rem;
    height: 4.4rem;
    filter: invert(1);
  }

  .header__nav {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      gap: 2rem;
    }
  }

  .header__link {
    font-weight: 600;
    color: var(--color-secondary);
    transition: color 0.3s ease;

    &:hover {
      color: var(--color-primary-hover);
    }
  }

  .header__menu {
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}

/* Hero */

.hero {
  .hero__content {
    padding: 4rem;
    border-radius: 0.8rem;

    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 2.4rem;
    background: #2a7b9b;
    background: linear-gradient(
      90deg,
      rgba(42, 123, 155, 1) 0%,
      rgba(87, 199, 133, 1) 50%,
      rgba(237, 221, 83, 1) 100%
    );
  }

  .hero__info {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    color: var(--white);
  }

  .hero__text {
    display: flex;
    flex-direction: column;
    /* gap: 0.4rem; */
  }

  .hero__title {
    font-size: 6.4rem;
    font-weight: 900;
  }

  .hero__subtitle {
    font-size: 2.4rem;
  }

  .hero__buttons {
    display: flex;
    gap: 1.2rem;
  }

  .hero__status {
    display: flex;
    align-items: center;
    gap: 2.4rem;
  }

  .hero__status-text {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 0.8rem;
    font-size: 2rem;
    font-weight: 600;

    svg {
      width: 2rem;
      height: 2rem;
    }
  }

  .hero__slyder {
    position: relative;
  }

  .hero__wrapper {
    position: absolute;
    min-width: 100%;
  }

  .hero__show {
    display: flex;
    border-radius: 0.4rem;
    overflow: hidden;
  }

  .hero__img {
    width: 100%;
    height: auto;
  }

  .hero__slyder-buttons {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.8rem;
  }

  .hero__slyder-button {
    width: 2.4rem;
    height: 0.4rem;
    background-color: var(--white);
    opacity: 0.2;

    &:hover {
      opacity: 0.5;
    }

    &.active {
      opacity: 1;
    }
  }
}
