*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  min-width: 32rem;
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: var(--font-family);
  background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2;
  overflow-wrap: break-word;
  text-wrap: balance;
}

p {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img,
picture,
video,
iframe,
svg {
  height: auto;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

[class*="-container"] {
  width: min(90%, 120rem);
  margin-inline: auto;
}

.button {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-weight: 700;
  padding: 0.8rem 1.6rem;
  border-radius: 0.4rem;
  color: var(--white);
  transition: background-color 0.3s ease;

  &.primary {
    background-color: var(--color-primary);
    color: var(--white);

    &:hover {
      background-color: var(--color-primary-hover);
    }
  }

  &.transparent {
    background-color: rgba(0, 0, 0, 0.4);

    &:hover {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  &.secondary {
    background-color: var(--color-secondary);

    &:hover {
      background-color: var(--color-secondary-hover);
    }
  }
}
